* {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.figure-list-container {
    border: 1px solid blue;
    text-align: center;
}

.figure-list {
    list-style: none;
}

.figure-info {
    border: 1px solid pink;
    width: clamp(300px, 60%, 1200px);
    margin: auto;
    /* background-color: antiquewhite; */
}

h1 {
    font-size: 3rem;
}

.top-fold {
    border: 1px solid green;
    max-height: 500px;
    display: flex;
    justify-content: space-around;
}

.info-list {
    list-style-type: none;
}

.info-list li {
    font-size: 1.1rem;
    margin: 5px 0;
}

.img-container {
    border: 2px solid red;
    width: 45%;
    text-align: center;
    /* display: inline-block; */
    /* width: 50%; */
}

.img-container img {
    display: inline-block;
    
}

.main-img {
    max-height: 100%;
    max-width: 100%;
    /* object-fit: contain; */
}

.info-container {
    border: 2px solid blue;
    background-color: lightgrey;
    width: 45%;
    /* display: inline-block; */
    /* background-color: lightgrey; */
    /* width: 40%; */
}

.autofill-list-container {
    border: 1px solid green;
    text-align: center;
}

.autofill-list {
    display: inline-block;
    border: 1px solid red;
    list-style-position: outside;
    list-style-type: none;
    text-align: left;
}

.autolist-item {
    line-height: 1.5rem;
}